<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Invest - Share</title>
{% block stylesheets %}
	{% stylesheets 'bundles/investshare/css/*' filter='cssrewrite' %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}
{% if pageRefresh is defined and pageRefresh|length and pageRefresh > 0 %}
	<meta http-equiv="refresh" content="{{ pageRefresh }}">
{% endif %}
</head>
<body>
{% render controller('InvestShareBundle:Default:menu') %}
{% block content %}
{% endblock %}
{% block javascripts %}
	{% javascripts '@InvestShareBundle/Resources/public/js/*' %}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}
{% block additional_js %}
{% endblock %}
</body>
</html>