{% extends 'InvestShareBundle:Default:base.html.twig' %}
{% block content %}
<br><br><hr>
{% if message is defined and message|length %}<span class="message">Message : <b>{{ message|raw }}</b></span><br>{% endif %}
<br>
{% if data is defined and data|length %}
<div class="listType">
<table>
	<tr>
		<th>Currency</th>
		<th>Rate</th>
		<th>Updated</th>
	</tr>
	{% for d in data %}
	<tr>
		<td>{{ d.Currency }}</td>
		<td align="right">{{ d.Rate|number_format(4) }}</td>
		<td align="right">{{ d.Updated|date('d/m/Y H:i') }}</td>
	</tr>
	{% endfor %}
</table>
</div>
{% endif %}
{% endblock %}