{% extends 'InvestShareBundle:Default:base.html.twig' %}
{% block content %}
<br><br><hr>
{% if message is defined and message|length %}<span class="message">Message : <b>{{ message|raw }}</b></span><br>{% endif %}
<br>
<div id="container" style="height: 600px"></div>
<br>
{% endblock %}
{% block additional_js %}
<script>
$(function() {
	$.getJSON('{{ path('ajax_share_currency', {'currency': currency}) }}', function (data) {
		$('#container').highcharts('StockChart', {
			title: {
				text: 'Currency Prices'
			},
			chart: {
				width: 800	
			},
	            	
			rangeSelector: {
				selected: 1
			},
	
			legend: {
				enabled: true,
				align: 'center',
				verticalAlign: 'bottom'
			},
	
	        series: data,
		});
	});
});
</script>
{% if notes is defined and notes|length %}
<hr>
<div class="notes">{{ notes|nl2br }}<div>
{% endif %}
{% endblock %}