<h2>This is the secure area...</h2>
<div>
    <a href="{{path('logout')}}">Logout</a>
</div>
<p>something new ...<br>something new ...<br>something new ...<br>something new ...<br>
something new ...<br>something new ...<br>something new ...<br>
something new ...<br>something new ...<br>something new ...<br>
something new ...<br>something new ...<br>something new ...<br>
something new ...<br>something new ...<br>something new ...<br>
something new ...<br>something new ...<br>something new ...<br>
something new ...<br>something new ...<br>something new ...<br>
</p>