<h3>Hello {{ name }}</h3>
<p>Please find below a link to reset your password as requested:<br>
<a href="{{ url('timesheet_hr_resetpassword', {'link': link}) }}">Click here to reset your password</a>
<br>
<br>
Please note: This link is valid for 24 hours, if you have not completed resetting your password within this time period you can request another link <a href="{{ url('timesheet_hr_forgotpassword') }}">here</a>.
<br>
<br>
<i>{{ companyname }}</i>
</p>