{% extends 'TimesheetHrBundle:Default:base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block header %}{% endblock %}
{% block content %}
<div class="message">
{% if message is defined and message|length %}
<div class="loginMessage">{{ message }}</div>
{% endif %}
</div>
{% if roomForm is defined and roomForm|length %}
<div class="registrationList">
<h2>Room</h2>
{{ include('TimesheetHrBundle:Includes:room_form.html.twig', { 'form': roomForm, 'locations': locations}) }}
</div>
{% else %}
<div class="statusList">
{{ render(controller('TimesheetHrBundle:Residents:roommenu', { 'base': base })) }}
</div>
{% endif %}
{% endblock %}